<?xml version="1.0"?>
<model>
  <name>base_hexagono5</name>
  <version>1.0</version>

  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Felipe</name>
    <email>felipe@example.com</email>
  </author>

  <description>
    Base Hexágono número 5 para simulação no Gazebo.
  </description>
</model>
